@model cascadingprac.Models.userdetail 
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<style>
.error
{
color:Red;    
}

</style>

<div class="Container">

<form action="@Url.Action("Edit", "Home")" method="post" id="editform">
@Html.HiddenFor(x => x.id)
  <div class="form-row ">
    <div class="form-group col-md-6">
    <label>First Name</label>
      @Html.TextBoxFor(x => x.firstname, new { @class = "form-control" })
      @Html.ValidationMessageFor(x => x.firstname)
    </div>
    <div class="form-group col-md-6">
      <label>Last Name</label>
       @Html.TextBoxFor(x => x.lastname, new { @class = "form-control" })
       @Html.ValidationMessageFor(x => x.lastname)
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.email)
  </div>
  <div class="form-group">
<label>Address</label>
@Html.TextBoxFor(x => x.address, new { @class = "form-control" })
 @Html.ValidationMessageFor(x => x.address)
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Country</label>
@Html.DropDownListFor(x => x.countryid, Model.countries, "Please select", new { @class = "form-control" })
 @Html.ValidationMessageFor(x => x.countryid)
    </div>
    <div class="form-group col-md-4">
    <label>State</label>
    @Html.DropDownListFor(x => x.stateid, Model.states, new { @class = "form-control" })
 @Html.ValidationMessageFor(x => x.stateid)
    </div>
    <div class="form-group col-md-4">
    <label>City</label>
    @Html.DropDownListFor(x => x.cityid, Model.cities, new { @class = "form-control" })
 @Html.ValidationMessageFor(x => x.cityid)
    </div>
  </div>
    <div class="form-group">
    <label>Number</label>
    @Html.TextBoxFor(x => x.number, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.number)
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label>Dob</label>
        @Html.TextBoxFor(x => x.dob, new { @class = "form-control", @type = "date" })
    </div>
    <div class="form-group col-md-6">
        <label>Age</label>
        @Html.TextBoxFor(x => x.age, new { @class = "form-control" })
    </div>
</div>
 <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="submit" class="btn btn-primary">Update</button>
        </div>
</form>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        var ddlcountries = $("#countryid");
        var ddlstates = $("#stateid");
        var ddlcities = $("#cityid");
        var selectdate = $("#dob");

        ddlcountries.change(function () {
            //alert(ddlcountries.val());
            $.ajax({
                url: '/dropdown/GetstateBycountryId',
                method: 'get',
                data: { countryid: $(this).val() },
                dataType: 'json',
                success: function (data) {
                    ddlstates.empty();
                    ddlstates.append($('<option/>', { value: "", text: 'Select States' }));
                    $(data).each(function (index, item) {
                        ddlstates.append($('<option/>', { value: item.Value, text: item.Text }));
                    });
                }
            });
        });


        //For calcute age according to select date
        selectdate.change(function () {

            var now = new Date();
            var birthdate = new Date($("#dob").val());
            var nowyear = now.getFullYear();
            var birthyear = birthdate.getFullYear();
            var age = nowyear - birthyear;
            $('#age').val(age);
            $('#age').html(age);
        });




        $('#editform').submit(function () {
            debugger;
            var first = document.forms["editform"]["firstname"].value;
            var last = document.forms["editform"]["lastname"].value;
            var email = document.forms["editform"]["email"].value;
            var address = document.forms["editform"]["address"].value;
            var countryid = document.forms["editform"]["countryid"].value;
            var stateid = document.forms["editform"]["stateid"].value;
            var cityid = document.forms["editform"]["cityid"].value;
            var number = document.forms["editform"]["number"].value;
            var dob = document.forms["editform"]["dob"].value;
            var age = document.forms["editform"]["age"].value;

            $('.error').remove();

            if (first == "") {
                $("#firstname").after('<span class="error">Enter First Name</span>')
            }
            if (last == "") {
                $("#lastname").after('<span class="error">Enter Last Name</span>')
            }
            if (email == "") {
                $("#email").after('<span class="error">Enter Email</span>')
            }
            else {
                var regEx = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
                var validEmail = regEx.test(email);
                if (!validEmail) {
                    $('#email').after('<span class="error">Enter a valid email</span>');
                    return false;
                }
            }
            if (address == "") {
                $("#address").after('<span class="error">Enter Address</span>')
            }
            if (countryid == "") {
                $("#countryid").after('<span class="error">Enter Country</span>')
            }
            if (stateid == "") {
                $("#stateid").after('<span class="error">Enter State</span>')
            }
            if (cityid == "") {
                $("#cityid").after('<span class="error">Enter City</span>')
            }
            if (number == "") {
                $("#number").after('<span class="error">Enter Number</span>')
            }
            else {
                var num = number.length;
                if (num != 10) {
                    $("#number").after('<span class="error">Enter 10 Digit Number</span>')
                }
            }
            if (dob == "") {
                $("#dob").after('<span class="error">Enter Date of Birth</span>')
            }
            if (age == "") {
                $("#age").after('<span class="error">Enter Age</span>')
            }
            if (first != "" && last != "" && email != "" && address != "" && number != "" && dob != "" && age != "" && num == 10) {
                return true;
            }
            else {
                return false;
            }

        })



        ddlstates.change(function () {
            $.ajax({

                url: '/dropdown/GetcityBystateid',
                method: 'get',
                data: { stateid: $(this).val() },
                dataType: 'json',
                success: function (data) {
                    ddlcities.empty();
                    ddlcities.append($('<option/>', { value: "", text: 'Select States' }));
                    $(data).each(function (index, item) {
                        ddlcities.append($('<option/>', { value: item.Value, text: item.Text }));
                    });
                }
            });

        });



    })



</script>